@import "tailwindcss";

:root {
  --primary: #4F46E5;      /* Biru ungu lembut */
  --secondary: #1B1B1B;    /* Hitam Eerie */
  --background: #F8FAFC;   /* Putih abu-abu sangat lembut */
  --surface: #FFFFFF;      /* Putih bersih */
  --text-primary: #1E293B; /* Abu-abu gelap (bukan hitam murni) */
  --text-secondary: #64748B; /* Abu-abu medium */
  --accent: #F59E0B;       /* Kuning emas untuk aksen */
  --border: #E2E8F0;       /* Garis pembatas lembut */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-border: var(--border);
  --color-surface: var(--surface);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
  --primary: #6366F1;      /* Biru ungu lebih terang */
  --secondary: #F8F7F3;    /* Putih */
  --background: #0F172A;   /* Biru tua sangat gelap */
  --surface: #1E293B;      /* Biru abu-abu gelap */
  --text-primary: #F1F5F9; /* Putih abu-abu sangat lembut */
  --text-secondary: #94A3B8; /* Abu-abu terang */
  --accent: #FBBF24;       /* Kuning lebih terang */
  --border: #334155;       /* Garis pembatas gelap */
  }
}

body {
  background: var(--background);
  color: var(--text-primary);
  font-family: Arial, Helvetica, sans-serif;
}
