@import "tailwindcss";

:root {
  --primary: #ffffff;      /* Putih */
  --secondary: #1B1B1B;    /* Hitam Eerie */
  --background: #f8fafc;   /* gray-50 - bg page */
  --surface: #FFFFFF;      /* Putih bersih */
  --text-primary: #1f2937; /* Abu-abu gelap (bukan hitam murni) */
  --text-secondary: #2563eb; /* Abu-abu medium */
  --accent: #F59E0B;       /* Kuning emas untuk aksen */
  --border: #e5e7eb;       /* Garis pembatas lembut */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-border: var(--border);
  --color-surface: var(--surface);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
  --primary: #1f2937;      /* Biru ungu lebih terang */
  --secondary: #F8F7F3;    /* Putih */
  --background: #111827;   /* Biru tua sangat gelap */
  --surface: #1E293B;      /* Biru abu-abu gelap */
  --text-primary: #f9fafb; /* Putih abu-abu sangat lembut */
  --text-secondary: #60a5fa; /* Abu-abu terang */
  --accent: #FBBF24;       /* Kuning lebih terang */
  --border: #374151;       /* Garis pembatas gelap */
  }
}

body {
  background: var(--background);
  color: var(--text-primary);
  font-family: Arial, Helvetica, sans-serif;
}
